@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    background-color: black;
}

#button-container {
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

svg {
    display: block;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.button {
  position: relative;
}

#startBtn {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  color: #F0D3FF;
  background-color: #c247ff;
  border: 10px solid #c247ff;
  box-shadow: 0px 7px 0px #8832b2;
  position: relative;
  top: 0px;
  transition: all ease 0.01s;
}

#startBtn:hover {
  box-shadow: 0 5px 0 #8832b2;
  top: 3px;
  transition: all ease 0.25s;
}

#startBtn:active {
  box-shadow: 0 3px 0 #8832b2;
  top: 7px;
  transition: all ease 0.25s;
}